* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  width: 90%;
  margin: auto;
  margin-top: 75px;
}

h1 {
  font-weight: bold;
  border: 2px solid black;
  text-align: center;
  font-size: larger;
}

.recent-scores {
  font-size: 22px;
  font-weight: bolder;
  margin-bottom: 0;
}

button {
  font-weight: bold;
}

ul {
  list-style-type: none;
  font-weight: bold;
  border: 3px solid black;
}

li {
  padding: 0 10px;
}

ul li:nth-child(even) {
  background-color: grey;
  color: white;
}

.add-your-score {
  font-size: 22px;
  font-weight: bolder;
  text-align: center;
}

form {
  margin: auto;
  width: 70%;
}

input {
  border: 3px solid black;
}

.input {
  padding: 0 5px;
}

.input::placeholder {
  font-weight: bold;
  color: black;
}

.button {
  width: 30%;
}
